:root {
  --violet: hsl(228, 45%, 44%);
  --veryDarkBlue: hsl(233, 47%, 7%);
  --darkDesaturatedBlue: hsl(244, 38%, 16%);
  --softViolet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --slightlyTransparentWhite-main: hsla(0, 0%, 100%, 0.75);
  --slioghtlyTransparentWhite-stat: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--veryDarkBlue);
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

.conrainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container__main {
  color: var(--white);
  background-color: var(--darkDesaturatedBlue);
  display: flex;
  width: 1133px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.left-section {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding-left: 95px;
  max-width: 560px;
}

.left-section__main {
  max-width: 403px;
  margin-top: 72px;
}

.left-section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  margin-bottom: 25px;
}

.left-section__insights {
  color: var(--softViolet);
}

.left-section__desc {
  max-width: 374px;
  font-size: 15px;
  line-height: 1.67;
  opacity: 0.75;
  margin-bottom: 72px;
}

.left-section__offer {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 60px;
}

.left-section__offer-numbers {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.left-section__offer-elements {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 2.08;
  letter-spacing: 1px;
  opacity: 0.6;
}

.right-container {
  display: block;
  background-image: linear-gradient(
      to bottom,
      rgba(171, 92, 219, 0.75),
      rgba(171, 92, 219, 0.75)
    ),
    url("../images/image-header-desktop.jpg");
  width: 540px;
  height: 446px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution__link {
  color: var(--violet);
}
